<!DOCTYPE html>
<html lang="{{ .Language.Locale }}">
<head>
{{ partial "head.html" . }}
</head>
<body>
	<header class="site-header">
		<a class="site-title" href="{{ "/" | relLangURL }}">{{ .Site.Title }}</a>
		{{ with .Section }}
			{{ with site.GetPage (printf "/%s" .) }}
				<span class="site-crumb-sep">/</span>
				<a class="site-section" href="{{ .RelPermalink }}">{{ .Title }}</a>
			{{ end }}
		{{ end }}
	</header>
	<main id="main">
		{{ block "main" . }}{{ end }}
	</main>
	<footer class="site-footer">
		<p>&copy; 2001 - {{ now.Year }} Daniel Valfridsson</p>
	</footer>
</body>
</html>
